.b{
    background-color: bisque;
}
.d1{
    border: 2px solid brown;
    margin-left: 450px;
    margin-top: 40px;
    width: 300px;
    height: 500px;
}
.d2{
margin-left: 65px;
}
.h1{
    text-align: center;
}
.b1{
    margin-left: 120px;
    cursor: pointer;
}
